@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color:#FFC7C7; */
    background-image:url("https://source.unsplash.com/1600x900/?random");
    backdrop-filter: blur(8px);
    color: grey;
}

img{
    display: block;
    width: 100%;
    height: 30rem;
    border-radius: 0.5rem;
    object-fit: cover; /*for same ratio of image */
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;

}

.tabs{
    background-color: #ffe5e2;
    border-radius: .5rem;
    grid-template-rows: auto 1fr; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Button{
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #b6c9f0;
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .25rem;

}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Button:nth-child(1){
    border-top-left-radius: .5rem;
}

.Button:nth-child(3){
    border-top-right-radius: .5rem;
}

.Button:hover:not(.live){
    background-color: #e93b81;
    color: white;
}

.tabs-content{
    padding: 2rem 1.5rem;
}

@media(min-width: 992px){
    .img{
        margin-bottom: 0;
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
.content{
    display: none;
}
.content.live{
    display: block;
}

.Button.live{
    background-color:#ffe5e2;
}