body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    background: url("https://source.unsplash.com/1600x900/?math");
    font-family: cursive;
}
.container{
    display: block;
    background-color:lightcoral;
    width: 450px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgrey;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.counter-container p{
    font-size: 18px;
    color: grey;

}
.total-counter{
    color: slateblue;
}
.remaining-counter{
    color: orangered;
}