body{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.main-container{
    max-width: 550px;
    padding: 10px;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}
.main-container h1{
    color: #fff;
    font-weight: 500;
}
.main-container p{
    color: #fff;
    margin: 15px 0;
}
.btn{
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:5px;
   font-size: 15px;
}
.btn:hover{
    background-color: orange;
}

.trailer-container{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
}
.trailer-container video{
    position: relative;
    max-width: 900px;
    outline: none;

}

@media (max-width: 991px){
    .trailer-container video{
        max-width: 90%;
    }
}

.close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}

.active.trailer-container {
    visibility: hidden;
    opacity: 0;
}