body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: #000;
    font-family: cursive;
}
.navbar ul li a:hover{
    color: red;
}

.navbar.active{
    background: #000;
}

.navbar.active ul li a{
    color: #fff;
}
.top-container{
    background: url("https://source.unsplash.com/1600x900/?nature");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-container h1{
    color: white;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;
}