body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    background: url("https://source.unsplash.com/1600x900/?math");
    font-family: cursive;
}
form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
}
input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}
.input::placeholder{
    color: lightgrey;
    font-family: cursive;
}
.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) ;
    cursor: pointer;

}
.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: right;
}