body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
}
header ul{
    list-style-type: none;
    display: flex;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

header ul li a:hover{
    color: red;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background: url("https://source.unsplash.com/1600x900/?nature");
    background-position: center;
    background-attachment: fixed;
    background-size: 160;
}

.container{
    padding: 100px;
}

h1{
    font-size: 1.5rem;
}

p{
    color: grey;
}

@media (max-width:500px) {
    .container{
        padding: 10px;
    }
    
}