body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    font-size: 15px;
    font-weight:400;
    padding:10px;
    width: 100%;
    border: 1px solid #5f9341;
    box-sizing: border-box;
}

button{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    background: #5f9341;
    color: white;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    outline: 0;
}
ul{
    padding-left: 0;
    margin-top: 20px;
}
ul li{
   list-style: none;
   margin-top: 5px;
}
li a{
   color: #5f9341;
}

#delete-button{
    background-color: white;
    border: 1px solid #5f9341;
    color: #5f9341;
}