body{
       
    margin: 0;
    height: 100vh;
    font-family: cursive;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container{
    display: flex;
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}   